input, button, select, textarea, .button, label {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1;
    outline: none;
}

@import '_form-button';

.field {
    display: block;
    border: .1rem solid rgba(0, 0, 0, .12);
    border-radius: .3rem;
    padding: .4rem;
    transition: all .3s;
    box-sizing: border-box;

    & > label {
        display: block;
        cursor: default;
        text-transform: uppercase;
        color: rgba(0, 0, 0, .54);
        font-size: 1rem;
        transition: all .3s;
    }

    & > input,
    & > select,
    & > textarea {
        font-size: 1.6rem;
        display: block;
        width: 100%;
        border: none;
        padding: .8rem 0 .6rem;
        transition: all .3s;
        outline: none;
        background-color: transparent;

        &::selection { background: rgba($colorAccentLight, .5) }
    }

    & > select {
        padding: .6rem 0;
    }

    & > textarea {
        line-height: 1.2;
    }

    &.onfocus {
        background-color: rgba($colorAccentLight, .12);
        border-color: rgba($colorAccentDark, .87);

        & > label {
            color: $colorAccentDark;
        }
    }
}

.actions {
    clear: both;
    display: block;
    margin: 2.4rem 0;
    text-align: right;
}
