.right.floated { float: right; }
.left.floated { float: left; }

.center.aligned { text-align: center; }
.right.aligned { text-align: right; }
.left.aligned { text-align: left; }

.secondary { color: rgba(0, 0, 0, .54); }
.secondary.inverse { color: rgba(255, 255, 255, .54); }

.allcaps { text-transform: uppercase; }

.halfwidth { max-width: 50%; width: 50%; }

.hidden { visibility: hidden; }

.clearfix { clear: both; }

.divider {
    clear: both;
    display: block;
    width: 100%;
    height: .1rem !important;
    background-color: rgba(0, 0, 0, .12);
    margin: 2rem 0;
}
